@model Employee;

<ul>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <li>@Model.PhnNo</li>
    <li>@Model.Salary</li>
    <li>@Model.Designation</li>
    <li>@Model.Email</li>
</ul>
<a asp-action="Index">Back to list</a>