@model Employee;

<h1>Employee details of @Model.Id are </h1>
<ul>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <li>@Model.PhnNo</li>
    <li>@Model.Salary</li>
    <li>@Model.Designation</li>
    <li>@Model.Email</li>
</ul>

